.about-section {
  padding: 60px;
  background-color: #fffdf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  height: 900px;
}

.about-text-container {
  max-width: 1300px;
}

.about-intro {
  text-transform: uppercase;
  color: rgb(81, 41, 41);
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 1px;
   font-family: 'Livvic';
}

.about-heading {
  font-size: 2.8rem;
  color: rgb(123, 66, 47);
  font-weight: 900;
  margin: 10px 0 20px;
  font-family: 'Livvic';
}

.about-description {
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.9;
  color: black;
  text-align: justify;
}

.about-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px; 
}

.img-side1{ 
  width: 600px;
  height: auto;
  object-fit: contain;
  margin-bottom: 65px;
  margin-left: -120px;
}

.img-side {
  width: 550px;
  height: auto;
  object-fit: contain;
  margin-right: -50px;
  margin-top: -55px;
}

.img-center {
  width: 500px;
  height: auto;
  object-fit: contain;
  margin-left: -350px;
  margin-bottom: -50px;
  /* flex-shrink: 2; */
}

/* 🔁 Responsive design */
@media (max-width: 768px) {
  .about-section {
    padding: 30px;
  }

  .about-images {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .img-side,
  .img-center {
    width: 80%;
    max-width: 300px;
    transform: none;
  }
}
