.hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; 
  color: white;
}

.hero-text {
  font-family: 'Comorant_garamond';
  position: absolute;
  top: 80px;
  right: 40px; 
  text-align: right;
}

.hero-text h1 {
  color: rgb(255, 229, 190);
  font-size: 2.7rem;
  font-weight: 500;
  margin: 0;
}

.hero-text h1 span {
  color: white;
  font-weight: bold;
}

.hero-text p {
  color: rgb(226, 195, 122);
  font-size: 2.5rem;
  margin-top: 10px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-text {
    top: 20px;
    right: 20px;
  }
}
.buy-now-btn {
  font-weight: 600;
  font-family: 'Livvic';
  position: absolute;
  bottom: 90px;
  right: 150px;
  background-color: rgb(226, 191, 135);
  color: rgb(68, 38, 38);
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
  background-color: rgb(218, 169, 92);
}
@media (max-width: 768px) {
  .hero-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .hero-text {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    text-align: center;
  }

  .hero-text h1 {
    color: white;
    font-size: 2.5rem;
    padding: 0 10px;
  }

  .hero-text p {
    color: white;
    font-size: 1.9rem;
    padding: 0 10px;
    margin-top: 10px;
  }
  .buy-now-btn {
    position: static;
    margin-left: 250px;
    margin-top: 90vh;
    padding: 10px 20px;
    font-size: 16px;
  }
}

