.hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; 
  color: white;
}

.hero-text {
  font-family: 'Comorant_garamond';
  position: absolute;
  top: 80px;
  right: 40px; 
  text-align: right;
}

.hero-text h1 {
  color: rgb(255, 229, 190);
  font-size: 2.7rem;
  font-weight: 500;
  margin: 0;
}

.hero-text h1 span {
  color: white;
  font-weight: bold;
}

.hero-text p {
  color: rgb(226, 195, 122);
  font-size: 2.5rem;
  margin-top: 10px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-text {
    top: 20px;
    right: 20px;
  }
}
.discover-button {
  font-weight: 600;
  font-family: 'livvic';
  margin-left: 1100px;
  background-color: rgb(226, 191, 135);
  color: rgb(68, 38, 38);
  border: none;
  padding: 8px 24px;
  border-radius: 22px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 550px;
  transition: background-color 0.3s ease;
}

.discover-button:hover {
  background-color: rgb(218, 169, 92);
  color: #442626;
}