
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; 
  padding: 10px 40px;
  position: fixed; 
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 80px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  cursor: pointer;
  font-family: 'Quicksand';
  text-decoration: none;
  color: white; 
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f1a40f; 
}
