.product-section {
  padding: 50px 80px 100px;
  position: relative;
  color: white;
  text-align: left;
  height: 150vh;
}

.product-content {
  max-width: 600px;
}

.product-heading {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #d4af37;
  font-family: 'Livvic';
}


@media (max-width: 768px) {
  .product-section {
    max-width: 1200px;
    padding: 30px 20px 80px;
    height: 80vh;
    background-position: center top;
    text-align: left;
  }

  .product-content {
    max-width: 100%;
    margin: 0 auto;
  }

  .product-heading {
    font-size: 2rem;
  }
}
